<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1>Register form</h1>
            <form action="/users/register" method="post"> 
                <input type="text" name="name" placeholder="Enter the Name" class="form-control" />
                <br />
                <input type="email" name="email" placeholder="Enter the Email" class="form-control" />
                <br />
                <input type="text" name="username" placeholder="Enter the Username" class="form-control" />
                <br />
                <input type="password" name="password" placeholder="Enter the Password" class="form-control" />
                <br />
                <button type="submit" class="btn btn-success">Submit</button>
                <br/>
                <br/>
                <a href="/users/login">Already having an account?</a>
            </form>
        </div>    
    </body>
</html>